<hibernate-configuration>
	<session-factory>
		<!-- Configuração de conexão com banco de dados -->
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/dbstudent?useSSL=false&amp;serverTimezone=UTC</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		
		<property name="connection.pool_size">1</property>
		
		<!-- Selecionando o dialeto sql -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		
		<!-- Mapeando -->
		<property name="show_sql">true</property>
		
		<property name="current_session_context_class">thread</property>
		
	</session-factory>
</hibernate-configuration>